<ion-header>
  <ion-toolbar>
    <ion-title>comments-list</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <ion-button expand="full" (click)="toggleisPublished()" [ngSwitch]="isPublishedFilter$ | async">
    <span *ngSwitchCase="true">Show unpublished</span>
    <span *ngSwitchCase="false">Show published</span>
  </ion-button>
  
  <ion-list *ngIf="comments$ | async as comments; else loading" >
    <app-comment [comment]="comment" (options)="openOptions(comment)" *ngFor="let comment of comments"></app-comment>  
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openPage('/tabs/(comments:comments/edit)')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
