<div class="scrollable">
	<div class="scrollable-content section">
		<div bs-panel title="Sobre a Siemens">
			Presente no Brasil há mais de cem anos, a Siemens tem sido uma empresa de tecnologia integrada que mantém posição de liderança em vários segmentos. A principal razão para esta permanência no topo está em nossa enorme capacidade de nos adaptarmos às mudanças.
			Tem sido assim nas últimas décadas. Estamos sempre nos moldando para que continue sendo assim no futuro.
		</div>
	</div>
</div>
