<div class="scrollable">
	<div class="scrollable-content section">

		<form role="form" ng-submit='Contact.sendMail()'>
			<fieldset>
				<legend>{{"Chat with the Internal Communication" | translate}}</legend>
				<div class="form-group">
					<label>Email</label>
					<input type="email"
					ng-model="Contact.informations.mail"
					class="form-control"
					readonly />
				</div>

				<div class="form-group">
					<label>{{"Message" | translate}}</label>
					<textarea
					ng-model="Contact.informations.message"
					class="form-control"
					rows="4"
					placeholder='{{"We are hearing you" | translate}}'></textarea>
				</div>
			</fieldset>
			<button class="btn btn-primary btn-block">{{"Send" | translate}}</button>
		</form>
	</div>
</div>
