<div class="scrollable">
	<div class="scrollable-content section">
			<fieldset>
				<legend>{{"Files Downloaded" | translate}}</legend>
			<article class="media" ng-if="downloadedFiles | isEmpty">
				<div class="pull-left thumb-small">
					<span class="btn btn-circle">
						<i class="fa fa-file fa-lg"></i>
					</span>
				</div>
				<div class="media-body">
					<h4>{{"No Files Downloaded" | translate}}</h4>
					<small class="block">{{"All files downloaded on App are available here for Sharing and Offline Reading." | translate}}</small>
				</div>
			</article>
			<fieldset>
			<div class="list-group ib-home-news">
				<section ng-repeat="media in downloadedFiles" id="media-list" ng-include="'items/media/details.html'"></section>
			</div>
		</div>
	</div>
</div>

<ng-include src="'utils/_header-title.html'" ng-if="performance"/>
