<div content-for="navbarActionLeft">
	<button ng-click="go(history.back(),'slideRight')" class="btn btn-primary" >
		<i class="fa fa-chevron-left"></i>
	</button>
</div>
<div content-for="navbarActionRight"></div>

<div class="scrollable">
	<div class="scrollable-content section">
		<div bs-panel title='{{"Forgot Password?" | translate}}'>
			<form name="forgotForm" ng-submit="Forgot.submitForm(forgotForm.$valid)" novalidate>
				<div ng-class="{ 'has-error' : forgotForm.email.$invalid && submitted }">
					<input bs-form-control label="Email" type="email" name="email" ng-required="true" placeholder="me@siemens.com" ng-model="Forgot.informations.mail" />
					<p ng-show="forgotForm.email.$invalid && submitted" class="help-block">{{"Invalid Email" | translate}}</p>
				</div>
					<textarea bs-form-control label='{{"Message" | translate}}' rows="4" placeholder='{{"Optional Message" | translate}}' ng-model="Forgot.informations.message"></textarea>
				<button class="btn btn-primary btn-block">{{"Reset my Password" | translate}}</button>
			</form>
		</div>
	</div>
</div>
