<div content-for="title">
  <span>Esqueci minha senha</span>
</div>

<div class="scrollable">
	<div class="scrollable-content section">
		<div bs-panel title="Recupere sua senha">
			<form ng-submit="Forgot.sendMail()" class="ib-forgot-form">
				<div>Seu e-mail:</div>
				<div id="form-container">
					<input type="email" class="form-control" ng-model="Forgot.information.message"/>
					<input type="submit" id="submit" class="ib-primary form-control" value="Recuperar minha senha" />
				</div>
			</form> 
		</div>
	</div>
</div>