<input type="search" class="form-control app-search" placeholder="Buscar.." ng-model="query"/>

<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group ib-home-news">
			<a ng-repeat="item in items | filter:query" ng-click="go('/show/'+$index,'slideLeft')" class="list-group-item ib-article">
				<div class="media">
						<ul rn-carousel rn-carousel-controls ng-if="item.images.length">
							<li ng-repeat="image in item.images">
								<img class="image" ng-src="{{getImage(item.images[$index].path)}}" alt= >
							</li>
						</ul>
						<!---->

					<div class="media-body">
						<h4 class="media-heading">{{item.title}} 						<small><i ng-bind="item.pubdate * 1000 |date:'d MMM, yyyy'"></i></small></h4>
						<!--p>{{item.caption}}</p-->
					</div>
				</div>
			</a>
		</div>
	</div>
</div>