<!-- input type="search" class="form-control app-search" placeholder="Buscar..." ng-model="query" / -->

<div content-for="navbarActionLeft">
  <button ng-click="syncItems()" class="btn btn-primary">
    <i class="fa fa-refresh"></i>
  </button>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group ib-home-news">
      <div class="ib-loading-news" ng-hide="hideLoadingDiv">
        <div>
          <i class="fa fa-spinner fa-spin"></i> Carregando...
        </div>
      </div>
      <a ng-repeat="item in items | filter:query" ng-click="go('/show/'+$index,'slideLeft')" class="list-group-item ib-article">
        <div class="media">
          <div class="ib-media-container pull-left" ng-if="item.images.length">
            <img ng-src="{{getImage(item.images[0].path)}}" class="media-object" alt="{{item.title}}">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{item.title}}
              <br/>
              <small><i ng-bind="item.pubdate * 1000 |date:'d MMM, yyyy'"></i></small>
            </h4>
            <!--p>{{item.caption}}</p-->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
