<div class="scrollable">
	<div class="scrollable-content section" id="login">
		<div>
			<div id="logo">
				<img src="images/header-clean.png" alt="@@name">
			</div>
			<form role="form" name="loginForm" ng-submit="Login.submitForm(loginForm.$valid)" ng-class="{ 'has-error' : loginForm.$invalid && submitted }">
				<fieldset>
					<div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
						<input type="email"
						name="email"
						placeholder="{{'Email' | translate}}"
						ng-model="credentials.email"
						class="form-control" />
						<p ng-show="loginForm.email.$invalid && submitted" class="help-block">{{"Invalid Email" | translate}}</p>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
						<input type="password"
						name="password"
						placeholder="{{'Password' | translate}}"
						ng-model="credentials.password"
						class="form-control" />
						<p ng-show="loginForm.password.$invalid && submitted" class="help-block">{{"Invalid Password" | translate}}</p>
					</div>
				</fieldset>

				<button data-ui-ladda="Login.loading" class="btn btn-primary btn-block ladda-button" data-style="expand-right">
					<span class="ladda-label">{{"Sign In" | translate}}</span>
				</button>

			</form>
			<hr>
			<div id="forgot">
				<ul>
					<li><a href="#/login/forgot" ng-click="flip('#/login/forgot')">{{"Forgot Password?" | translate}}</a></li>
					<li><a ng-click="flip('#/login/welcome')">{{"About" | translate}} @@name</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- A plain modal dialog -->
<div ui-content-for="modals">
	<div class="modal modal-overlay" ui-if='modal1' ui-state='modal1'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close"
					ui-turn-off="modal1">&times;</button>
					<h4 class="modal-title">Altera sua senha</h4>
				</div>
				<div class="modal-body">
					<p>{{"Hello" | translate}} {{visitor.first_name}}, <br/>
						{{"For security reason you need to type here a new personal password" | translate}}</p>
					<form ng-submit="Login.changePassword()">
							<div class="form-group">
								<input type="password"
								name="otp"
								ng-model="Login.new_password"
								placeholder="Nova Senha"
								class="form-control"/>
							</div>
							<button class="btn btn-primary btn-block">
								<span>{{"Save" | translate}}</span>
							</button>
						</form>
				</div>
			</div>
		</div>
	</div>
</div>

