<div class="scrollable">
	<div class="scrollable-content section ib-login-screen">
		<img src="images/infobox_final-01.png" >
		<form ng-submit="Login.signin()">
			<div class="col-xs-10 col-xs-offset-1 ib-login-form" >
				<input type="email" placeholder="username" class="form-control" ng-model="Login.username" >
				<input type="password" placeholder="senha" class="form-control" ng-model="Login.password" >	
				<input type="submit" id="submit" class="ib-primary col-xs-12 form-control" value="Entrar" />
				<span class="ib-text-secondary ib-forgot-btn"><a ng-click="go('/forgot')">Esqueceu a senha?</a></span>
			</div>
		</form>
	</div>
</div>