<!--div content-for="navbarActionLeft">
	<span ng-click="#/">Voltar</span>
</div-->

<div class="scrollable">
	<div class="scrollable-content" ng-swipe-left="swipeNews('left')" ng-swipe-right="swipeNews('right')" hm-swipe-opts="{swipeVelocityX: 0.2}">
		<div class="thumbnail">
			<img ng-src="{{getImage(item.images[0].path)}}" class="media-object" alt="{{item.title}}" ng-if="item.images.length">
			<div class="caption">
				<h4>
					{{item.title}}<br>
					<small><i ng-bind="item.pubdate * 1000 |date:'d MMM, yyyy'"></i></small>
				</h4>
				<div ng-bind-html="item.description | hrefToJS"></div>
				<p ng-repeat="media in item.medias">
					<span ng-if="['application/pdf', 'audio/mpeg'].indexOf(media.type) != -1">
						<a ng-click="downloadFile(media, $event)" 
		  					target="_blank">
		  					<span class="btn btn-white btn-xs">
		  						<i class="fa fa-file-o"></i> Download
		  					</span>
		  				</a>
		  			</span>
					{{media.title}}
				</p>
			</div>
		</div>
	</div>
</div>


