<!--div content-for="navbarActionLeft">
	<span ng-click="#/">Voltar</span>
</div-->

<div class="scrollable">
	<div class="scrollable-content">
		<div class="thumbnail">
			<img src="http://corporate.siemens.com.br/nosso-compromisso-com-a-integridade/images/paulo-ricardo-start-596x334.jpg" alt="">
			<div class="caption">
				<h4>
					Siemens lidera o ranking do Índice Dow Jones de Sustentabilidade<br>
					<small><i>4 de outubro, 2014</i></small>
				</h4>
				<p>
					A Siemens é a empresa mais sustentável no setor industrial, de acordo com o Índice de Dow Jones de Sustentabilidade (Dow Jones Sustainability Index – DJSI). A Siemens ficou em primeiro lugar dentre as empresas do setor Bens de Capital do ranking que reúne cerca de 350 empresas com melhores práticas de sustentabilidade em todo o mundo em sete setores de atividade econômica.</p>
					<p>Este resultado reafirma a importância dos compromissos da companhia com ações sustentáveis. Pelo segundo ano, alcançou uma pontuação total de 93, de um máximo de 100 pontos. O ranking leva em conta critérios sociais, econômicos e ambientais. A empresa mais uma vez obteve a nota máxima em compliance, pela quinta vez consecutiva.</p>
					<p>Ao mesmo tempo, a companhia mais uma vez obteve o primeiro lugar da categoria de  conglomerados industriais, onde participa junto a 46 empresas como 3M, Philips e Toshiba. "Estamos convencidos de que a sustentabilidade é fundamental para o sucesso econômico de longo prazo da Siemens AG. Por esta razão, obter este reconhecimento novamente nos deixa muito orgulhosos, e confirma a forte ênfase que damos à sustentabilidade", disse Roland Busch, integrante do Conselho de Gestão do Siemens AG.</p>
			</div>
		</div>
	</div>
</div>


