<!--div content-for="navbarActionLeft">
	<span ng-click="#/">Voltar</span>
</div-->

<div class="scrollable">
	<div class="scrollable-content">
		<div class="thumbnail">
			<img ng-src="{{getImage(item.images[0].path)}}" class="media-object" alt="{{item.title}}" ng-if="item.images.length">
			<div class="caption">
				<h4>
					{{item.title}}<br>
					<small><i ng-bind="item.pubdate * 1000 |date:'d MMM, yyyy'"></i></small>
				</h4>
				<p ng-repeat="media in item.medias">
  				<a ng-click="loadURL('{{media.url}}')" target="_blank">
  					<span class="btn btn-white btn-xs"><i class="fa fa-file-o"></i> download</span> {{media.title}}
  				</a>
				</p>
				<div ng-bind-html="item.description"></div>
			</div>
		</div>
	</div>
</div>


