<div class="sidebar sidebar-left" ui-toggle="uiSidebarLeft">
	<div class="scrollable">
		<h1 class="scrollable-header app-name">InfoMobi <small>{{$ctrl.app_version}}</small></h1>  
		<div class="scrollable-content">
			<div class="list-group">
				<div ng-repeat="category in vm.categories">{{category.title}}</div>
				<a class="list-group-item" href="#/items">Home <i class="fa fa-chevron-right pull-right"></i></a>
				<a class="list-group-item" href="#/items/list/{{category.id}}" ng-repeat="category in $ctrl.categories | selectTypes">{{category.title}} <i class="fa fa-chevron-right pull-right"></i></a>
			</div>
		</div>
	</div>
</div>