<div ui-content-for="navbarActionLeft"></div>
<div ui-content-for="navbarActionRight"></div>

<div class="scrollable">
	<div class="scrollable-content">
		<div class="thumbnail" ng-if="item.images.length > 1">
			<ul rn-carousel rn-carousel-transition="slide" rn-carousel-controls rn-carousel-auto-slide rn-carousel-pause-on-hover ng-carousel-buffered rn-carousel-index="carouselIndex">
				<li ng-repeat="image in item.images">
					<img ng-src="{{image.path}}" class="media-object" alt="{{image.title}}">
				</li>
			</ul>
			<div rn-carousel-indicators slides="item.images" rn-carousel-index="carouselIndex" ng-if="item.images.length > 1"></div>
		</div>
		<div class="thumbnail" ng-if="item.images.length == 1">
			<img ng-src="{{item.images[0].path}}" class="media-object" alt="{{item.title}}">
		</div>
		<div class="section container">
			<h4>
				{{item.title}}
				<br>
			</h4>
			<div ng-bind-html="item.description | hrefToJS"></div><br/>
			<button ng-click="flip('#/login')" class="btn btn-primary btn-block">{{"Continue" | translate}}</button>
		</div>
	</div>
</div>


