$white-color: #fff;
$height100: 100%;

.logo {
  img {
    max-width: 150px;
    margin: auto;
    padding: 20px 0;
  }
}

ion-grid {
    width:100%;
    height: $height100;
    background: var(--ion-color-primary);  /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #fff, #fff 25%, var(--ion-color-primary));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #fff, #fff 25%, var(--ion-color-primary));  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid var(--ion-color-primary-contrast);
    background: $white-color;
    border-radius: 5px;
}

ion-button {
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        // background: $white-color;
    }
    ion-col {
        // border: none;
    }
}