@import "mobile-angular-ui/src/less/mobile-angular-ui-base.less";
@import "mixins.less";
@import "variables.less";
@import "ladda-themeless.min.less";
@import "home.less";
@import "login.less";
@import "contact.less";
@import "medias.less";
@import "polls.less";
@import "events.less";


/* ------------------ Variables Begin ------------------ */
@zindex-modal-background: #fff;
@brand-primary: @@brandPrimary; // Replaced by gulp
@brand-primary-soft : #f1b882;

@navbar-top-default-color: #fff;
@navbar-top-default-link-color: #fff;
@navbar-top-default-bg: @brand-primary;

@navbar-default-color:                     @brand-primary;
@navbar-default-bg:                        #f7f7f7;
@navbar-default-link-color:                @brand-primary;

/* ------------------ Variables End ------------------ */

a[disabled] {
  pointer-events: none;
  text-decoration: none;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}


.nav-bottom{
  &:extend(.navbar);
  &:extend(.navbar-app);
  &:extend(.navbar-absolute-bottom);
  &.btn-navbar{
    line-height: 20px;
    text-transform: none;
  }
}

.ib-app{
  background-color: #fff;
}

.ib-page-container{
  margin-top: 50px;
  height: ~"calc(100% - 120px)";
  box-sizing: border-box;
}

.ib-btn{
	border-radius: 10px;


	&.ib-btn-big{
		height: 50px;
		font-size: 30px;
	}
}


.ib-primary{
	background-color: @brand-primary;
	color: #fff;
}

.ib-text-secondary{
	color: @brand-primary-soft;
}

.ib-nav-top{
	background-color: @brand-primary;
	color: #fff;
	&.ib-hidden{
		background-color: #f5f5f5;
		border: 0;
		height: 52px;
		div, imb{
			display: none;
		}
    &.loading{
      background-color: #fff;
    }
	}

  .navbar-brand{
    padding: 0px;
    span{
      vertical-align: sub;
    }
    img{
      max-height: 49px;
    }
  }
	.btn {
		color: @navbar-top-default-link-color
	}
  .pull-left button, .pull-right button{
    width: 40px;
    box-sizing: content-box;
    padding: 0;
    color: #fff;
  }
}

a.file {
  float: left;
  width: 100%;
  button {
    float: right;
  }
  h4{
    float: left;
  }
}

input[type=range] {
  width:300px;
}

ul[rn-carousel] {
  overflow:hidden;
  height: 210px;
  margin: 0% 3%;
  white-space: nowrap;
  position: relative;
  perspective: 1000px;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  > li {
    color:black;
    backface-visibility: hidden;
    overflow: visible;
    vertical-align: top;
    position:absolute;
    left:0;
    right:0;
    white-space: normal;
    padding:0;
    margin:0;
    list-style-type:none;
    width:100%;
    height:100%;
    display:inline-block;
  }
}

/* prevent flickering when moving buffer */
ul[rn-carousel-buffered] > li {
  display:none;
}

ul[rn-carousel-transition="hexagon"] {
  overflow:visible;
}

/* indicators */
div.rn-carousel-indicator {
  display: table;
  margin: 0 auto;
}
div.rn-carousel-indicator span {
  cursor: pointer;
  color: #666; }
  div.rn-carousel-indicator span.active {
    color: #ddd; }

ul[rn-carousel]>li img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

/* prev/next controls */
.rn-carousel-control {
  transition: opacity 0.2s ease-out;
  font-size: 2rem;
  position: absolute;
  top: 40%;
  opacity: 0.75;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }

  &.rn-carousel-control-prev {
    left: 0.5em;
    &:before {
      content: "<";
    }
  }

  &.rn-carousel-control-next {
    right: 0.5em;
    &:before {
      content: ">";
    }
  }
}

/* From Bootstrap */

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.open > .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.navbar-app .btn.active, .navbar-app .btn-navbar.active {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
}

.slide {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: inherit;
}

.ng-enter {
	opacity: 0;
}
.ng-enter.ng-enter-active {
	opacity: 1;
}

.media-body img {
  padding-right: 10px;
}

.chat-user-avatar {
  font-size: 40px;
  background: #ccc;
  padding: 5px 10px;
}