h1.ib-title{
  color: @brand-primary;

  font-size: 5em;
  margin-top: 20%;
  margin-bottom: 10%;
}

.ib-login-screen{
  background-color: #F5F5F5;
  text-align: center;
}

.ib-login-screen-container{
  margin-top: 0 !important;
  height: 100% !important;
}

.ib-login-form{
  .form-control{
    margin-bottom: 10px;
  }

  .form-control:last-of-type{
    margin-bottom: 20px;
  }

  #ib-forgot-btn{
    cursor: pointer;
  }

  input::-webkit-input-placeholder {
    color: #f7f6f6;
  }
  input::-moz-placeholder {
    color: #f7f6f6;
  }
  input:-moz-placeholder {   /* Older versions of Firefox */
    color: #f7f6f6;
  }
  input:-ms-input-placeholder { 
    color: #f7f6f6;
  }
  input:placeholder-shown{
    color: #f7f6f6;
  }
}