#login{
	padding: 0 10%;
	img {
		margin:auto; 
		display:block;
	  background-color: transparent;
		max-width: 80%
	}
	.form-control{
		// margin-bottom: 10px;
	}
	
	#forgot {
		ul {
			list-style: none;
			margin:0
		}
		ul li {
			float: left;
			margin: 0px
		}
		ul li a {
			display: block;
			padding: 10px;
		}
	} 
}
div#logo{
	text-align:center; 
	margin-bottom:40px
}

#otp {
	.form-control {
		margin-bottom: 10px;
	}
}