<ion-header>
  <ion-toolbar>
    <ion-title>Profiles List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-template #loading>
    <div *ngFor="let n of [0,1,2]" padding>
      <ion-skeleton-text></ion-skeleton-text>
      <p>
        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
      </p>
    </div>
  </ng-template>

  <ion-list *ngIf="profiles$ | async as profiles; else loading" >
    <app-profile-headline [profile]="profile" *ngFor="let profile of profiles" (click)="openTabPage('profiles/details', 'profiles', profile.id)"></app-profile-headline>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openTabPage('profiles/edit', 'profiles')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>