<style type="text/css">
.ib-nav-top, .ib-primary {
	background-color: {{performance.site.theme.colors.defaultBg}};
}
.nav-bottom, .navbar-app {
	color: {{performance.site.theme.colors.defaultBg}};
}
.btn-primary {
	background-color: {{performance.site.theme.colors.defaultBg}};
	border-color: {{performance.site.theme.colors.defaultBg}};
}
.btn-primary:active, .btn-primary:focus {
	background-color: {{performance.site.theme.colors.defaultBg}};
	border-color: {{performance.site.theme.colors.defaultBg}};
	}

.navbar-app .btn.active {
	color: {{performance.site.theme.colors.defaultBg}};
}
.navbar-app .btn-navbar {
	color: {{performance.site.theme.colors.defaultBg}};
}
a {
	color: {{performance.site.theme.colors.defaultBg}};
}
.list-group-item.active, .list-group-item.active:focus {
	background-color: {{performance.site.theme.colors.defaultBg}};
	border-color: {{performance.site.theme.colors.defaultBg}};
}
</style>