<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="@@id" version="@@version">
	<name>@@name</name>
	<description>@@description</description>
	<author email="contact@meumobi.com" href="http://meumobi.com">meumobi Team</author>
	<preference name="android-build-tool" value="gradle"/>
	<preference name="android-installLocation" value="auto"/>
	<preference name="android-minSdkVersion" value="14"/>
	<preference name="AndroidPersistentFileLocation" value="Internal"/>
	<preference name="BackupWebStorage" value="none"/>
	<preference name="detect-data-types" value="true"/>
	<preference name="disable-cursor" value="false"/>
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="exit-on-suspend" value="false"/>
	<preference name="permissions" value="none"/>
	<preference name="prerendered-icon" value="true"/>
	<preference name="show-splash-screen-spinner" value="false"/>
	<preference name="StatusBarBackgroundColor" value="#000000"/>
	<preference name="StatusBarOverlaysWebView" value="false"/>
	<preference name="StatusBarStyle" value="lightcontent"/>
	<preference name="stay-in-webview" value="false"/>
	<preference name="target-device" value="universal"/>
	<preference name="webviewbounce" value="false"/>
	<preference name="phonegap-version" value="cli-6.3.0"/>
	<!-- 
		cordova-plugin-splashscreen 
		-->
	<preference name="AutoHideSplashScreen" value="false"/>
	<preference name="FadeSplashScreen" value="false"/>
	<preference name="ShowSplashScreenSpinner" value="false"/>
	<!-- 
		cordova-plugin-statusbar 
		-->
	<preference name="StatusBarBackgroundColor" value="#000000"/>
	<preference name="StatusBarOverlaysWebView" value="false"/>
	<preference name="StatusBarStyle" value="lightcontent"/>
	
	<!-- plugin spec="https://github.com/Telerik-Verified-Plugins/NativePageTransitions.git#0.6.2" / -->
	<!-- plugin name="com.adobe.plugins.gaplugin" spec="2.4.0" source="pgb"/ -->
	<plugin name="com.telerik.plugins.nativepagetransitions" spec="~0.6.0"/>
	<plugin name="cordova-open" spec="~1.0.9"/>
	<plugin name="cordova-plugin-apprate" spec="~1.1.12"/>
	<plugin name="cordova-plugin-appversion" spec="~1.0.0"/>
	<plugin name="cordova-plugin-calendar" spec="~4.5.0"/>
	<plugin name="cordova-plugin-spinnerdialog" spec="~1.3.2"/>
	<plugin name="cordova-plugin-uniquedeviceid" spec="~1.3.2"/>
	<plugin name="cordova-plugin-x-socialsharing" spec="~5.0.11"/>
	<plugin name="cordova-plugin-x-toast" spec="~2.4.2"/>
  <plugin name="cordova-plugin-google-analytics" spec="~0.9.0"/>
	<!--
		forked it to fix issue /meumobi/infomobi/issues/198 
		following recomendation of @macdonst /phonegap/phonegap-plugin-push/issues/909#issuecomment-220923606
	-->
	<plugin name="pushwoosh-cordova-plugin" spec="https://github.com/meumobi/pushwoosh-phonegap-plugin.git"/>
	<plugin name="onesignal-cordova-plugin" spec="~1.12.5"/>
	<!--
		Cordova Core plugins
		-->
	<plugin name="cordova-plugin-console" spec="~1.0.2"/>
	<plugin name="cordova-plugin-device" spec="~1.1.1"/>
	<plugin name="cordova-plugin-device-motion" spec="~1.2.0"/>
	<plugin name="cordova-plugin-dialogs" spec="~1.2.0"/>
	<plugin name="cordova-plugin-file" spec="~4.1.1"/>
	<plugin name="cordova-plugin-file-transfer" spec="~1.5.0"/>
	<plugin name="cordova-plugin-globalization" spec="~1.0.3"/>
	<plugin name="cordova-plugin-inappbrowser" spec="~1.3.0"/>
	<plugin name="cordova-plugin-media" spec="~2.1.0"/>
	<plugin name="cordova-plugin-network-information" spec="~1.2.0"/>
	<plugin name="cordova-plugin-splashscreen" spec="~3.2.1"/>
	<plugin name="cordova-plugin-statusbar" spec="~2.1.2"/>
	<plugin name="cordova-plugin-whitelist" spec="~1.2.1"/>
	<!--plugin name="net.tunts.webintent" source="pgb" version="~0.2.1" /-->
	<!-- https://developer.apple.com/library/ios/documentation/userexperience/conceptual/MobileHIG/IconMatrix.html#//apple_ref/doc/uid/TP40006556-CH27-SW2 -->
	<!-- default mandatory icon 120x120px -->
	<icon src="icon.png"/>
	<splash src="splash.png"/>
	<platform name="android">
		<preference name="Orientation" value="default"/>
		<preference name="SplashScreenDelay" value="0"/>
		<!--
			Icons & Splash
			-->
		<icon density="ldpi" src="res/icon/android/drawable-ldpi/ic_launcher.png"/>
		<icon density="mdpi" src="res/icon/android/drawable-mdpi/ic_launcher.png"/>
		<icon density="hdpi" src="res/icon/android/drawable-hdpi/ic_launcher.png"/>
		<icon density="xhdpi" src="res/icon/android/drawable-xhdpi/ic_launcher.png"/>
		<icon density="xxhdpi" src="res/icon/android/drawable-xxhdpi/ic_launcher.png"/>
		<icon density="fr-xxhdpi" src="res/icon/android/drawable-xxxhdpi/ic_launcher.png"/>
		<splash density="ldpi" src="res/screen/android/drawable-ldpi/launch-image-android.9.png"/>
		<splash density="mdpi" src="res/screen/android/drawable-mdpi/launch-image-android.9.png"/>
		<splash density="hdpi" src="res/screen/android/drawable-hdpi/launch-image-android.9.png"/>
		<splash density="xhdpi" src="res/screen/android/drawable-xhdpi/launch-image-android.9.png"/>
		<splash density="xxhdpi" src="res/screen/android/drawable-xxhdpi/launch-image-android.9.png"/>
		<!--splash density="fr-xhdpi" src="res/screen/android/screen-fr-xhdpi.png" />
			<splash density="port-xxhdpi" src="res/screen/android/screen-portrait-xxhdpi.png" />
			<splash density="land-xxhdpi" src="res/screen/android/screen-landscape-xxhdpi.png" /-->
		<!--
			Intent Whitelist
			Controls which URLs the app is allowed to ask the system to open
			-->
		<allow-intent href="market:*"/>
	</platform>
	<platform name="ios">
		<preference name="Orientation" value="all"/>
		<!-- For chrisben/imgcache.js
		https://github.com/chrisben/imgcache.js/blob/master/CORDOVA.md 
		-->
		<preference name="iosPersistentFileLocation" value="Library"/>
		<!-- ////////////////// iOS 7.0+ -->
		<!-- iPhone / iPod Touch  -->
		<!-- icon src="res/icon/ios/Icon-60.png" width="60" height="60" /-->
		<icon src="res/icon/ios/AppIcon.appiconset/Icon-60@2x.png" width="120" height="120"/>
		<!-- iPad -->
		<icon src="res/icon/ios/AppIcon.appiconset/Icon-76.png" width="76" height="76"/>
		<icon src="res/icon/ios/AppIcon.appiconset/Icon-76@2x.png" width="152" height="152"/>
		<!-- Spotlight Icon -->
		<icon src="res/icon/ios/AppIcon.appiconset/Icon-40.png" width="40" height="40"/>
		<icon src="res/icon/ios/AppIcon.appiconset/Icon-40@2x.png" width="80" height="80"/>
		<!-- ////////////////// iOS 6.1 -->
		<!-- iPhone / iPod Touch -->
		<icon src="res/icon/ios/Icon.png" width="57" height="57"/>
		<icon src="res/icon/ios/Icon@2x.png" width="114" height="114"/>
		<!-- iPad -->
		<icon src="res/icon/ios/Icon-72.png" width="72" height="72"/>
		<icon src="res/icon/ios/Icon-72@2x.png" width="144" height="144"/>
		<!-- iPhone Spotlight and Settings Icon (iOS 6.1+) -->
		<icon src="res/icon/ios/AppIcon.appiconset/Icon-Small.png" width="29" height="29"/>
		<icon src="res/icon/ios/AppIcon.appiconset/Icon-Small@2x.png" width="58" height="58"/>
		<!-- iPad Spotlight and Settings Icon -->
		<icon src="res/icon/ios/Icon-Small-50.png" width="50" height="50"/>
		<icon src="res/icon/ios/Icon-Small-50@2x.png" width="100" height="100"/>
		<!-- iPhone and iPod touch -->
		<splash height="480" src="res/screen/ios/Default.png" width="320"/>
		<splash height="960" src="res/screen/ios/Default@2x.png" width="640"/>
		<!-- iPhone 5 / iPod Touch (5th Generation) -->
		<splash height="1136" src="res/screen/ios/Default-568h@2x.png" width="640"/>
		<!-- iPhone 6 -->
		<splash src="res/screen/ios/Default-667h@2x.png" width="750" height="1334"/>
		<splash src="res/screen/ios/Default-Portrait-736h@3x.png" width="1242" height="2208"/>
		<splash src="res/screen/ios/Default-Landscape-736h@3x.png" width="2208" height="1242"/>
		<!-- iPad -->
		<splash height="1024" src="res/screen/ios/Default~ipad~nostatusbar.png" width="768"/>
		<splash height="768" src="res/screen/ios/Default~ipad~landscape~nostatusbar.png" width="1024"/>
		<!-- Retina iPad -->
		<splash height="2048" src="res/screen/ios/Default~ipad~nostatusbar@2x.png" width="1536"/>
		<splash height="1536" src="res/screen/ios/Default~ipad~landscape~nostatusbar@2x.png" width="2048"/>
		<!-- Retina iPad -->
		<splash height="2048" src="res/screen/ios/Default~ipad~nostatusbar@2x.png" width="1536"/>
		<splash height="1536" src="res/screen/ios/Default~ipad~landscape~nostatusbar@2x.png" width="2048"/>
		<!--
			Intent Whitelist
			Controls which URLs the app is allowed to ask the system to open
			-->
		<allow-intent href="itms:*"/>
		<allow-intent href="itms-apps:*"/>
		<allow-intent href="ibooks:*"/>
	</platform>
	<!-- 
		Navigation Whitelist
		Controls which URLs the WebView itself can be navigated to
		-->
	<allow-navigation href="*"/>
	<allow-navigation href="cdvfile://*"/>
	<!--
		Network Request Whitelist
		Controls which network requests (images, XHRs, etc) are allowed to be made
		-->
	<access origin="*"/>
	<!-- For chrisben/imgcache.js
		https://github.com/chrisben/imgcache.js/blob/master/CORDOVA.md 
		-->
	<access origin="cdvfile://*"/>
	<!--
		Intent Whitelist
		Controls which URLs the app is allowed to ask the system to open
		-->
	<allow-intent href="file://*"/>
	<allow-intent href="sms:*"/>
	<allow-intent href="tel:*"/>
	<allow-intent href="geo:*"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-intent href="mailto:*"/>
	<allow-intent href="geo:*"/>
	<allow-intent href="cdvfile://*"/>
	<content src="index.html"/>
</widget>
