<div ui-content-for="navbarActionLeft">
	<button ng-click="vm.reload()" class="btn btn-primary">
		<i class="fa fa-refresh"></i>
	</button>
</div>
<!--input bs-form-control type="search" class="app-search" placeholder="Buscar..." ng-model="query" /-->

<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group">
			<div class="ib-loading-news" ng-show="loadingItems">
				<div>
					<i class="fa fa-spinner fa-spin"></i> {{"Loading..." | translate}}
				</div>
			</div>
			<section ng-repeat="item in vm.items | filter:query">
      	<div ng-switch on="item.type">
      		<div ng-switch-when="events">
      			<events-headline item="item" category=""></events-headline>
      		</div>
      		<div ng-switch-when="articles">
		        <articles-headline item="item" category=""></articles-headline>
      		</div>
      		<div ng-switch-when="polls">
      			<polls-headline item="item" category=""></polls-headline>
      		</div>
      	</div>
				<!--ng-include src="item.type + '/_headlines.html'" /-->
			</section>
		</div>
	</div>
</div>

<ng-include src="'utils/_header-title.html'" ng-if="performance"/>