<div ui-content-for="navbarActionLeft">
  <div ui-toggle="uiSidebarLeft" class="btn">
    <i class="fa fa-bars"></i> Menu
  </div>
</div>
<!--input bs-form-control type="search" class="app-search" placeholder="Buscar..." ng-model="query" /-->

<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group">
			<div ng-repeat="item in vm.items" ui-set="{transition: 'slide-left'}">
				<headline item="item"></headline>
    	</div>
		</div>
	</div>
</div>

<section ng-if="performance">
	<ng-include src="'utils/_header-title.html'"/>
</section>