<h4>
  {{vm.item.title}}
  <br>
  <small><i ng-bind="vm.item.pubdate * 1000 |date:'d MMM, yyyy'"></i></small>
</h4>
<p>
  <audio id="audio" controls autoplay ng-if="vm.audio.length > 0">
    <source ng-src="{{vm.getTrustedResourceUrl(vm.audio.url)}}" type="{{vm.audio.type}}"></source>
  </audio>
  <video id="video" controls autoplay ng-if="vm.video.length > 0">
    <source ng-src="{{vm.getTrustedResourceUrl(vm.video.url)}}" type="{{vm.video.type}}" />
  </video>
</p>

<poll data="vm.item" />
<download-file ng-repeat="media in vm.item.medias|filter:mediaFilter" file="media"></download-file>
